@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    SYSPRO management makes use of an internship Program over the festive period to ease
    the seasonal burden on an understaffed office, due to employees being on annual leave
    <br/><br/>
    SYSPRO Intern Salary Calculator is used to assist management with calculating the salaries for interns.
</p>
