@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cell: 082 335 8663
</p>

<address>
    <strong>Email:</strong>   <a href="n.makwarela93@gmail.com">n.makwarela93@gmail.com</a>
</address>