
.syspage_heading {
    margin-top: 2%;
    margin-bottom: 2%;
    background: #FF6347;
    min-height: 30px;
    padding: 0.5%;
    font-family: sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    
}